/*
Theme Name: Yo
Theme URI: Your Theme's URI	
Description: A brief description.
Version: 1.0
Author: You
Author URI: Your website address.
*/

.breadcrumbs {
background:#f7f6ed;
padding:10px;
}
.breadcrumbs a {
/*También podemos utilizar uppercase*/
text-transform:capitalize;
color:#666;
font-weight:700;
}